.backup_msg_area { color: __text_alt__; font-size:9pt; text-align:middle; }
.backup_msg_close { font-size:9pt; }
.backup_msg {  background-color: __background_alt__; text-align:middle; height: 14pt;}

